{{> eachRoom}}

<a href="/rooms/edit/{{_id}}"><button>Edit</button></a>

<a href="/rooms/delete/{{_id}}"><button>Delete</button></a>

{{#if reviews}}

    <ul>

    {{#each reviews}}

        <li>Review</li>

    {{/each}}

    </ul>

{{else}}

    <p>No Reviews yet</p>

{{/if}}